<a href="https://colab.research.google.com/github/Shuyang19/CSE-30-reading/blob/main/Week_1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Week 1: Python Basics
Welcome to our first python for physics session! Over the next ten weeks we'll be familiarizing ourselves with python and how we can use it to help us with physics. We won't be able to learn all of the tools available in python, but we will learn the fundamentals. 

We will start by learning  about the core structure of the language first, how to put together the instructions that make up a program. Later on, we will learn about some of the powerful features that can make the life of a physicist easier. 

In general, a good place to start when looking for information about Python is the official Python website at www.python.org. 

Today we'll be covering a few of the basics starting with:

*  Strings
*  Numbers
*  Dictionaries
*  Loops

**Step 1: Strings**

A string in Python is a sequence of characters. In other words, a string is a piece of text. Strings are a well-known term in the field of computer science and means the same thing in most other languages as well. How do we create a python string?

A Python string needs quotes around it for it to be recognized as such, like this:

In [ ]:
'Hello, World'

'Hello, World'

*Hint: To run a block of code, press command enter*

Because of the quotes, Python understands this is a sequence of characters and not a command, number, or variable.

And just like with numbers, some of the operators we learned before work on Python strings too. Try it with the following expressions:

In [ ]:
'a' + 'b'

'ab'

In [ ]:
'ab' * 4

'abababab'

In [ ]:
'a' - 'b'

TypeError: ignored

Did you get an error?
The plus operator glues two Python strings together.
The multiplication operator repeats our Python string the given number of times.
The minus operator doesn’t work on a Python string and produces an error.

We’ve used single quotes, but Python accepts double-quotes around a string as well.

Python also has a nice syntax for creating multiline strings, using triple quotes:

In [ ]:
my_big_string = """This is line 1,
... this is line 2,
... this is line 3."""

The nice thing about this, is that you can use both single and double quotes without a multiline string. 

There are lots of operations you can do with strings. Here's an example of a few.

In [ ]:
mystring = "I love physics"
print(mystring)
print(mystring.lower())
print(mystring.upper())

I love physics
i love physics
I LOVE PHYSICS

A very common operation is to get the string length. Unlike the operations above, this can be done with Python’s len() function like this:

In [ ]:
len("I wonder how long this string will be...")

40

In [ ]:
len(mystring)

14

**Step 2: Numbers**

The python integer is a non-fractional number, like 1, 2, 45, -1, -2, and -100. It’s one of the three types of numbers python supports natively, the other being floating point numbers and complex numbers.


You learned how to make a string alredady. To convert a string to integer in Python, use the int() function. Try making a string and then converting it to an integer!

In [ ]:
int('100')

100

You can also do the opposite. To convert an integer to string in Python, use the str() function.

In [ ]:
str(200)

'200'

To convert a float to an integer, use the int() function:

In [ ]:
int(2.3)

2

Many use cases require a random integer. For this, you need to import the random library.

Let’s get a random number:

In [ ]:
import random
random.randint(1,10)

6

The above instruction returns a pseudo random number from in to 10 inclusive, which means including 1 and 10. There are other ways to do this as well!

To check if a value is an integer, we can use the type() function. It will return int for integers. Here’s a simple example of how to use this in an if-statement:

In [ ]:
type(2)

int

In [ ]:
if isinstance(2, int):
  print('An integer')

An integer

*Hint: Don’t use if type(2) == int. Using isinstance() is almost always the better, cleaner way and covers more use cases, like subclasses.*

**Step 4: Dictionaries**

The Python dictionary is one of the language’s most powerful data types. They allow you to associate one or more keys to values.

In [ ]:
phone_numbers = { 'Jack': '070-02222748','Pete': '010-2488634' }
my_empty_dict = { }
phone_numbers['Jack']

'070-02222748'

The first dictionary associates keys (names like Jack and Pete) with values (their phone numbers). The second dictionary is an empty one.

Now that you’ve seen how to initialize a dictionary, let’s see how we can add and remove entries to an already existing one:

In [ ]:
phone_numbers['Eric'] = '06-10101010'
del(phone_numbers['Jack'])
phone_numbers

{'Eric': '06-10101010', 'Pete': '010-2488634'}

You can put anything in a dictionary. You’re not limited to numbers or strings. In fact, you can put dictionaries and lists inside your dictionary and access the nested values in a very natural way:

In [ ]:
a = { 'sub_dict': { 'b': True }, 'mylist': [100, 200, 300] }
print(a['sub_dict']['b'])
print(a['mylist'][0])

True
100

If you want, you can go pretty crazy on your dictionary keys too. The only requirement is that the key is of an immutable data type. 

Q: Do you know what immutable means?

Mutable types like lists, dictionaries, and sets won’t work.

Besides this limitation, you can use all data types as a dictionary key.

For example, consider this registration of runners in a marathon:

In [ ]:
runners = { 1000: 'Jack', 1001: 'Eric', 
                1002: 'Lisa' }
runners[1001]

'Eric'

Some built-in dictionary methods return a view object, offering a window on your dictionary’s key and values. Values in a view object chance as the content of the dictionary changes. 

To overwrite an entry, simply assign a new value to it. You don’t need to delete it first.

Another way to retrieve a single value from a dictionary, is using the get-method. The advantage? It returns a default value, None, if the key was not found.

An example:

In [ ]:
config = { 'host': 'example.org' }
print(config.get('port', 80))
print(config.get('schema'))

80
None

Get all the keys from a Python dictionary
There are two easy ways to get all the keys from a dictionary:

In [ ]:
phone_numbers = { 'Jack': '070-02222748', 
                      'Pete': '010-2488634', 
                      'Eric': '06-10101010' }
print(list(phone_numbers))
print(sorted(phone_numbers))

['Jack', 'Pete', 'Eric']
['Eric', 'Jack', 'Pete']

list() returns all the keys in insertion order, while sorted() returns all the keys sorted alphabetically.

There’s also the dict.keys() method, which returns a view object containing a list of all the dictionary keys. The advantage of this object is that it stays in sync with the dictionary. It’s perfect for looping over all the keys, but you still might opt for the list or sorted methods though, because those return a native list that you can manipulate as well.

Looping through a Python dictionary

The items() method of a dictionary returns an iterable view object, offering both the keys and values, as can be seen below. You can loop through this object with a simple for-loop:

In [ ]:
for name, phonenr in phone_numbers.items():
  print(name, ":", phonenr)

Jack : 070-02222748
Pete : 010-2488634
Eric : 06-10101010

You might wonder if a dictionary with the same keys and values, but inserted in another order, are the same too. Let’s check this

In [ ]:
first_dict  = { 'a': 1, 'b': 2, 'c': 'a string' }
second_dict  = { 'b': 2, 'a': 1, 'c': 'a string' }
first_dict == second_dict

True

**Step 5: Loops**

You can change the flow of our programs with the conditional statements if and else. Another way to control the flow is by using a Python for-loop or a Python while-loop. Loops allow you to repeat a piece of code.

There are two ways to create a loop in Python. Let’s first look at Python’s for-loop. A for-loop iterates over the individual elements of the object you feed it. If that sounds difficult, an example will hopefully clarify this:

In [ ]:
for letter in 'Hello':
  print(letter)

H
e
l
l
o

We stumbled upon two concepts here that need and explanation: iterability and objects.

An iterable is an object in Python that can return its members one at a time. Everything in Python is an object, and objects have a certain type and certain properties, including being iterable.

So we know that a for-loop can loop over iterable objects. By returning its members one by one, you can loop over each element of an iterable with a for-statement.

The general template for a for-loop in Python is:

```
# for <variable> in <iterable>:
    ... do something with variable
```


On each iteration, an element from iterable is assigned to variable. This variable exists and can be used only inside the loop. In Python, a string is iterable, and it returns one letter at a time. Hence, our for-loop prints ‘Hello,’ one letter at a time.

Python for-loops and lists
This is the ideal time to look at a new data type: lists. Lists also happen to be iterable; hence they work very well with a for-loop:

In [ ]:
mylist = [1, 'a', 'Hello']
for item in mylist:
  print(item)

1
a
Hello

A list can be created with block quotes. Its contents are objects of whatever type you like, separated by commas, and they don’t need to be of the same type. A list can contain all the types we’ve seen so far: numbers, strings, booleans, and even other lists. Indeed, you can create a list of lists. We can access the individual elements of a list manually too:

In [ ]:
mylist = [1, 2, 'Hello', ['a', 'b'] ]
print(mylist[0])
print(mylist[0] + mylist[1])
print(mylist[2])
print(mylist[3][0])

1
3
Hello
a

From the last example, you can see how to access nested lists.

While the for-loop in Python is a bit hard to understand, because of new concepts like iterability and objects, the while loop is actually much simpler! Its template looks like this:


```
# while <expression>:
    do something
```

You should read this as: “while this expression is True, keep doing the stuff below”.

Let’s take a look at an actual example:

In [ ]:
i = 1
while i <= 4:
  print(i)
  i = i + 1

Again, we seen an expression that follows the while statement. As long as this expression evaluates to True, the block inside of the while-loop executes repeatedly.

Sources:

http://www-personal.umich.edu/~mejn/cp/chapters/programming.pdf

https://python.land/introduction-to-python